<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <!-- Color Scheme -->
  <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.blue-light_blue.min.css" />
  <!-- Always shows a header, even in smaller screens. -->
</head>
<body>
  <main class="mdl-layout__content">
    <div class="page-content">
      <!-- explaination of the app on this page -->
      <p class="explaination">Explaining what the app does</p>
    </div>
  </main>
</body>
</html>
<script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
